.git
.github
node_modules
vendor
storage/logs/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/private/*
storage/app/public/*
!storage/app/public/.gitignore
.env
.env.*
!.env.example
*.md
tests
.phpunit.cache
.DS_Store
